---
layout: default
---

<section id="records" class="tm-section">
    <table class="table table-striped">
        <tr>
            <th>Event</th>
            <th>Olympic Record</th>
            <th>Neighborhood Record</th>
        </tr>
        {% for this_record in site.data.records %}
        <tr>
            <td>{{ this_record.event_name }} ({{ this_record.age_group }})</td>
            {% assign record_event_name = "unknown" %}
            {% assign record_event_url = "" %}
            {% for each_event in site.posts %}
              {% if each_event.event_id == this_record.olympic_record_event_id %}
                {% assign record_event_name = each_event.title %}
                {% assign record_event_url = each_event.url %}
              {% endif %}
            {% endfor %}
            <td>{{ this_record.olympic_record }} <a href="{{ record_event_url }}">({{ record_event_name }})</a></td>
            {% assign record_event_name = "unknown" %}
            {% for each_event in site.posts %}
                {% if each_event.event_id == this_record.neighborhood_record_event_id %}
                    {% assign record_event_name = each_event.title %}
                {% endif %}
            {% endfor %}
            <td>{{ this_record.neighborhood_record }} <a href="{{ record_event_url }}">({{ record_event_name }})</a></td>
        </tr>
        {% endfor %}
    </table>
</section>